<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
        <!-- <i class="fa fa-caret-square-o-down fa-lg"></i> -->
        <!-- <div data-icon="ei-navicon"></div> -->

      <div class="trigger">
        <a href="https://github.com/cacqw7" target="_blank" class=""><div data-icon="ei-sc-github" data-size="m"></div></a>
        <a href="http://twitter.com/clettenberg" target="_blank"><div data-icon="ei-sc-twitter" data-size="m"></div></a>
        <a href="https://www.linkedin.com/in/clettenberg" target="_blank"><div data-icon="ei-sc-linkedin" data-size="m"></div></a>
        <a href="mailto:clettenberg@gmail.com"><div data-icon="ei-envelope" data-size="m"></div></a>
        {% for page in site.pages %}
          {% if page.title %}
          <a href="{{ page.url | prepend: site.baseurl }}"><div data-icon="ei-question" data-size="m"></div></a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
