<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <button class="menu-icon">
        <i class="fa fa-caret-square-o-down fa-lg"></i>
      </button>

      <div class="trigger">
        <a href="https://github.com/cacqw7" target="_blank" class="page-link"><i class="fa fa-github-square"></i></a>
        <a class="page-link" href="http://twitter.com/clettenberg" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a href="mailto:clettenberg@gmail.com" class="page-link"><i class="fa fa-envelope-square"></i></a>
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}"><i class="fa fa-question-circle"></i></a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
